$mainColor: #1569ff;

$fontMainColor: #191919;
$fontSubColor: #777;

$sectionLine: #F3F3F3;
$inputLine: #BCBCBC;
$iconLine: #EBEBEB;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 1200px;

